<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form action="/addstores" method="post">
            <input type="text" name="store_input" value="">
            <button type="submit" name="button">Add a store</button>
        </form>
    </body>
</html>
