<!DOCTYPE html>
<html>
    <head>
        <link href='/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <link href='/css/styles.css' rel='stylesheet' type='text/css'>
        <title>Brands</title>
    </head>
    <body>
        <h1>Brands</h1>
        <div class="container">
            <form action="/brands" method="post">
                <label>Add a brand</label>
                <input type="text" name="brand_input" value="" required>
                <br>
                <button type="submit" class="btn btn-primary" name="button">Add a brand</button>
            </form>
            <a href='/'><button type="button" class="btn btn-primary" name="button">Home</button></a>
            {% if brands is not empty%}
                <ul>
                {% for brand in brands %}
                    <a href='/brand/{{brand.getId}}'><li> {{brand.getName}}</li></a>
                {% endfor %}
                </ul>
                <form action="/clearbrands" method="post">
                    <button type="submit" class="btn btn-warning" name="button">Delete all brands</button>
                </form>
            {% else %}
                <p>There are no brands in the system yet</p>
            {% endif %}
        </div>
    </body>
</html>
