<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>{{brand.getName}}</h1>

        {% if stores is not empty %}
            <ul>
                {% for stores in store %}
                    <li>{{store.getName}}</li>
                {% endfor %}
            </ul>
        {% else %}
        <p>Looks like there aren't any stores in the system yet.</p>
            <a href="/stores"><button type="button" name="button">Add a store</button></a>
        {% endif %}
    </body>
</html>
