<html>
  <head>
    <meta charset="utf-8">
    <title>Shoe Finder</title>
  </head>
  <body>
      <a href='/brands'><button type="button" name="button">Brands</button></a>
      <a href='/stores'><button type="button" name="button">Stores</button></a>
  </body>
</html>
