<!DOCTYPE html>
<html>
    <head>
        <link href='/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <link href='/css/styles.css' rel='stylesheet' type='text/css'>
        <title>Stores</title>
    </head>
    <body>
        <h1>Stores</h1>
        <div class="container">
        <form action="/stores" method="post">
            <label>Add a store</label>
            <input type="text" name="store_input" value="" required>
            </br>
            <button type="submit" class="btn btn-primary" name="button">Add a store</button>
        </form>
        <a href='/'><button type="button" class="btn btn-primary" name="button">Home</button></a>
        {% if stores is not empty%}
            <ul>
            {% for store in stores %}
                <a href='/store/{{store.getId}}'><li> {{store.getName}}</li></a>
            {% endfor %}
            </ul>
            <form action="/clearstores" method="post">
                <button type="submit" class="btn btn-warning" name="button">Delete all stores</button>
            </form>
        {% else %}
           <p>There are no stores in the system yet</p>
        {% endif %}
        </div>
    </body>
</html>
