<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>{{store.getName}}</h1>

        <form action="/store/{{store.getId()}}" method="post">
            <label>Add a store that carries this brand: </label>
            <input type="text" name="brand_input" value="">
            <button type="submit" name="button">Submit</button>
        </form>

        <form action="/store/delete/{{store.getId}}" method="post">
            <input type='hidden' name='_method' value='delete' />
            <button type="submit" name="button">Delete this store</button>
        </form>
        <form action="/store/update/{{store.getId}}" method="post">
            <input type='hidden' name='_method' value='patch' />
            <input type="text" name="new_store_name" value="">
            <button type="submit" name="button">Change this store's name</button>
        </form>
    </body>
</html>
